server:
  port: 39147
spring:
  cloud:
    stream:
      kafka:
        binder:
          brokers: localhost:29092
          configuration:
            security:
              protocol: PLAINTEXT
        bindings:
          event-in-0:
            consumer:
              enable-dlq: true
              dlq-name: swim-dispatch-dlq-local
      output-bindings: finished-out
      bindings:
        event-in-0:
          group: swim-dms
          destination: swim-dms-local
        finished-out:
          destination: swim-finished-local

logging:
  include-application-group: false # disabled because application group is only relevant when deployed
  structured:
    format:
      console: # set to empty to disable structured logging for testing
  level:
    "de.muenchen.swim.dms": debug

swim:
  dms:
    base-url: "https://dmsresteai-test-dmsresteai.apps.capk.muenchen.de/api"
  use-cases:
    - name: test-meta
      type: inbox_content_object
      coo-source:
        type: metadata_file
    - name: test-inbox-incoming
      type: inbox_incoming
      coo-source:
        type: metadata_file
      incoming:
        incoming-name-pattern: "s/^(.*)$/\\${if.Klassifikation}/m"
        metadata-subject: true
#    - name: test
#      type: incoming_object
#      coo-source: filename_name
#      filename-name-pattern: "s/^(.+)_(?:COO.[^-]+)_.+$/\\${1}*/"
#      username: simon.hirtreiter
#      joboe: COO.2150.9150.1.13722
#      jobposition: OfficialInCharge
