spring:
  main:
    banner-mode: console
  application:
    name: @project.artifactId@
    group: @project.groupId@
    version: @project.version@
  messages:
    basename: lang/messages
    fallback-to-system-locale: false
  cloud:
    stream:
      default:
        consumer:
          max-attempts: 1
      kafka:
        default:
          consumer:
            ack-mode: record
        binder:
          auto-create-topics: false
          consumerProperties:
            max:
              poll:
                records: 20
            auto:
              offset:
                reset: latest
  kafka:
    consumer:
      properties:
        spring:
          json:
            trusted:
              packages: '*'
  jpa:
    hibernate:
      ddl-auto: validate
server:
  shutdown: "graceful"
  port: 8080
  error:
    include-exception: false
    include-stacktrace: never
    whitelabel:
      enabled: false

# Config for spring actuator endpoints
management:
  server.port: ${server.port}
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: health, info, prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
    info:
      access: read_only
    prometheus:
      access: read_only
  info:
    env:
      enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    root: info
    "org.apache.kafka": warn
  structured:
    format:
      console: logstash
    json:
      stacktrace:
        root: first
        # default max size of one log line in docker is 16kb - UTF8 ~ 1 Character = 1 Byte
        # therefore limit stack traces to a maximum of 8192 characters (to leave room for the rest of the message)
        max-length: 8192
      add:
        application_name: ${spring.application.name}
        application_group: ${spring.application.group}

info:
  application:
    name: ${spring.application.name}
    version: ${spring.application.version}
    group: ${spring.application.group}
    description: @project.description@
  build:
    java.version: @java.version@
    spring-cloud.version: @spring-cloud-dependencies.version@

swim:
  # dirs
  dispatch-folder: inProcess
  finished-folder: finished
  protocol-finished-folder: finishedProtocols
  # metadata
  metadata-dispatch-binding-key: SWIM_Dispatch_Target
  # s3 tags
  dispatch-state-tag-key: SWIM_State
  dispatched-state-tag-value: sentToKafka
  dispatch-file-finished-tag-value: finished
  dispatch-action-tag-key: SWIM_Action
  dispatch-action-destination-tag-key: SWIM_Reroute_Destination
  protocol-state-tag-key: CSV_State
  protocol-match-tag-key: CSV_Match
  protocol-processed-state-tag-value: finished
  protocol-processed-files-state-tag-value: protocolProcessingSuccessful
  error-state-value: error
  error-class-tag-key: errorClass
  error-message-tag-key: errorMessage
