spring:
  main:
    banner-mode: console
  application:
    name: @project.artifactId@
    group: @project.groupId@
    version: @project.version@
  # Spring data rest
  data:
    rest:
      # Definition of page size for PagingAndSortingRepository
      max-page-size: 0x7fffffff
      default-page-size: 0x7fffffff
      return-body-on-update: true
      return-body-on-create: true
  jpa:
    hibernate:
      ddl-auto: validate
  cache:
    cache-names: ldap-users
    caffeine:
      spec: expireAfterWrite=30m

springdoc:
  enable-data-rest: false
  swagger-ui:
    oauth:
      scopes: profile,openid

server:
  shutdown: "graceful"
  port: 8080
  error:
    whitelabel:
      enabled: false
    include-message: always

# Config for spring actuator endpoints
management:
  server.port: ${server.port}
  endpoints:
    access:
      default: none
    web:
      exposure:
        include: health, info, prometheus
      path-mapping:
        prometheus: metrics
  endpoint:
    health:
      access: read_only
      probes:
        enabled: true
    info:
      access: read_only
    prometheus:
      access: read_only
  info:
    env:
      enabled: true
  health:
    livenessstate:
      enabled: true
    readinessstate:
      enabled: true

logging:
  level:
    root: info
  structured:
    format:
      console: logstash
    json:
      stacktrace:
        root: first
        # default max size of one log line in docker is 16kb - UTF8 ~ 1 Character = 1 Byte
        # therefore limit stack traces to a maximum of 8192 characters (to leave room for the rest of the message)
        max-length: 8192
      add:
        application_name: ${spring.application.name}
        application_group: ${spring.application.group}

info:
  application:
    name: ${spring.application.name}
    version: ${spring.application.version}
    group: ${spring.application.group}
    description: @project.description@
  build:
    java.version: @java.version@
    spring-cloud.version: @spring-cloud-dependencies.version@