name: stack-healthcheck

on:
  # Runs on pull requests
  pull_request:

jobs:
  dispatch:
    runs-on: ubuntu-latest
    steps:
      - name: Check dispatch-service stack
        uses: it-at-m/lhm_actions/action-templates/actions/action-dockercompose-healthcheck@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          skip-exited: true # required for init containers
          compose-file-path: "./dispatch-service/stack/"

  matching:
    needs: []
    runs-on: ubuntu-latest
    steps:
      - name: Check matching-service stack
        uses: it-at-m/lhm_actions/action-templates/actions/action-dockercompose-healthcheck@e012d3bda6f9d5511415e2d885f32826049284a4 # v1.0.23
        with:
          skip-exited: true # required for init containers
          compose-file-path: "./matching-service/stack/"
