name: build all

on:
  pull_request:
  push:
    branches:
      - "main"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      TZ: Europe/Berlin
    strategy:
      fail-fast: false
      matrix:
        include:
          - app-path: matching-service
            build-image: true
          - app-path: dispatch-service
            build-image: true
          - app-path: handler-core
            build-image: false
          - app-path: dms-service
            build-image: true
          - app-path: invoice-service
            build-image: true
          - app-path: dipa-service
            build-image: true
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
      - if: ${{ hashFiles(format('./{0}/package.json', matrix.app-path)) != null }}
        id: node
        uses: it-at-m/lhm_actions/action-templates/actions/action-npm-build@12966547963631f8429d42bab860485b413003c2 # v1.0.22
        with:
          app-path: "${{ matrix.app-path }}"
      - if: ${{ hashFiles(format('./{0}/pom.xml', matrix.app-path)) != null }}
        id: maven
        uses: it-at-m/lhm_actions/action-templates/actions/action-maven-build@12966547963631f8429d42bab860485b413003c2 # v1.0.22
        with:
          app-path: "${{ matrix.app-path }}"
      - if: github.ref == 'refs/heads/main' && matrix.build-image
        uses: it-at-m/lhm_actions/action-templates/actions/action-build-image@12966547963631f8429d42bab860485b413003c2 # v1.0.22
        with:
          path: "${{ matrix.app-path }}"
          image-name: "${{ matrix.app-path }}"
          artifact-name: ${{ join(steps.*.outputs.artifact-name) }}
          registry-password: ${{ secrets.GITHUB_TOKEN }}
          registry-username: ${{ github.actor }}
          image-tags: |
            type=raw,value=dev
